//  ------------------ABOUT

.ctn-about {
	display: grid;
	grid-template-columns: 50% 50%;
	min-height: 580px;
	@media only screen and (max-width : 650px){
		grid-template-columns: 100%;
	}

	//  ------------------LEFT

	.ctn-about-left {
		background-color: $color1;
		padding: 20px;
		
		.about-left-content {
			height: 100%;
			@include center;
			flex-direction: column;
			border: dashed 1px $color3;
			padding: 30px;
		
			h2 {
				font-size: 3em;
			}
			h3 {
				@include title;
				font-size: 2em;
			}
			img:nth-of-type(1) {
				margin: 35px 0;
			}
			p {
				width: 90%;
				max-width: 600px;
			}
			img:nth-of-type(2) {
				width: 90px;
				border-radius: 50%;
				margin: 35px 0 20px;
			}
			h5,
			h6 {
				font-weight: 500;
			}
			h5 {
				font-size: 25px;
			}
			h6 {
				@include title;
				font-size: 18px;
				color: $color4;
			}
		}
	}
}

//  ------------------RIGHT

.about-right {
	background: url(../assets/img/store-01.jpg) center / cover;
	@media only screen and (max-width : 650px){
		display: none;
	}
}
